body,h1{font-size: 9pt;font-family:'trebuchet ms', verdana, arial;margin:0;padding:0;}
body{background-color:#fff;color:#333;}
h1{font-size:large;font-weight:400;margin:0;}
h2{color:#333;font-size:small;font-weight:400;margin:0;}
pre{background-color:#eee;border:1px solid #ddd;border-left-width:5px;color:#333;font-size:small;overflow-x:auto;padding:15px;}
pre.normal{background-color:transparent;border:none;border-left-width:0;overflow-x:auto;}
#banner{margin:0 10px 10px;padding:0 0px 0px 0;text-align:left;border-bottom:1px ridge #ccc;}
#banner h1{color:#232121;font-family:Georgia, Palatino, Times New Roman;font-size:30px;font-style:normal;font-weight:400;margin:0;padding:0;display:block;float:left;}
#banner h1 em{color:#6cf;}
#banner h2{color:#232121;font-family:Georgia, Palatino, Times New Roman;font-size:20px;font-style:normal;font-weight:400;margin:0;padding:0;display:block;float:left;}
#main{margin:0 10px 10px;padding:0 0px 0px 0;}
#tooltip{position:absolute;border:1px solid #333;background:#f7f5d1;padding:2px 5px;color:#333;display:none;}

/* div {border:1px ridge #333;} */
/* CSS for generic web app pane layout in panes.css - see http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ */

/* Div layout specific for this page */
#divValues{ width: 240px; background-color: rgba(245, 241, 220, 0.2);}
#divDisplay{ left: 240px; right: 0; background-color: rgba(245, 241, 220, 0.3);}

#divHMI{ height:350px; top: 0px; }
#divGraphs{  top: 380px; bottom: 0px; }

.p-header.p-row { height: 40px; top: 0px; }
.p-body.p-row { top: 40px; bottom: 0px; }
#main{ bottom: 40px; }
#footer{ height: 40px; bottom: 0px; }

button:disabled {color: graytext;} 
span.File-Saved {color:green;font-style:normal;}
span.File-Dirty {color:red;font-style:italic;}
label {text-align:right;width:45%;}
.forminput {width:52%;}
.inputDiv {}
div.sidebarheading {text-align: center;width=100%; vertical-align: middle;font-size:medium;font-weight:400;
   border:1px ridge #fff;
   height:30px;
   margin: 0px;
   /*background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 100%); /* from http://www.colorzilla.com/gradient-editor/ */
   }
.vis-hidden{
     visibility: hidden;
  }

svg {
  width:100%; height:100%;
  background-color: rgba(245, 241, 220, 0.3);
  }

.valve:hover {
  opacity:0.5 !important;
  stroke-width:3px !important;
  cursor: pointer;
}
  
.pump:hover {
  opacity:0.5 !important;
  stroke-width:3px !important;
  cursor: pointer;
   }
 
.hmi-active { fill: #00FF00 !important}
.hmi-inactive { fill: #bebebeff !important}
.pump.running { fill:#00FF00 !important;}
.fv-common { fill: #00FF00 !important}

input.svgInput {
    height: 28px;
    width: 162px;
    font-size: 24px;
    text-align: center;
    background-color: yellow;
}

.sp-text:hover {
  opacity:0.5 !important;
  cursor: pointer;
   }

/*  Bootstrap customizations */
/* from http://stackoverflow.com/questions/19698925/how-to-set-height-and-border-of-bootstrap-tabs */
.nav-tabs > li > a
{
    /* adjust padding for height*/
   margin-left: 0px;
   margin-right: 0px;
   padding-top: 2px; 
   padding-bottom: 2px;
}
/* from http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm */
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }

.select-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 10px;
  line-height: 1;
  border-radius: 3px;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.5;
}

hr.xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.status-block {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
  color: #000;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.750);
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(to top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  font-size: 20px;
  font-weight: bolder;
}

/* From https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
   cursor: pointer;
}

.nav-xs {
  font-size: 12px;
}

.config-entries {
   padding-top: 1px;
   padding-bottom: 1px;
   padding-right: 5px;
   padding-left: 5px;
   font-size: 12px;
   height: 28px;
}

.config-entries-btn {
   line-height: 22px;
   height: 22px;
}

div.remainder {
   height: 100%;
}

.btn-div
{
    /* adjust padding for height*/
   padding-top: 5px;
   padding-bottom: 2px;
   padding-left: 1px;
   padding-right: 1px;
}
