<!DOCTYPE HTML>
<html lang="us">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CF Lab 314/5</title>
      <!-- ** CSS ** -->
      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/panes.css" type="text/css" />
      <link rel="stylesheet" href="css/index.css" type="text/css" />
      
      <!-- ** Javascript ** -->
      <script type="text/javascript" src="lib/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="lib/c0lor.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>

      <!-- ** Angular controllers ** -->
      <script type="text/javascript" src="lib/angular.min.js"></script>
      <script type="text/javascript" src="js/CF_HMI_Ctrl.js"></script>
   </head>
   <body>
   <div class="p-page" ng-app="myApp" ng-controller="CF_HMI">
      <div id="banner" class="p-header p-row">
         <h1>Continuous Formulation Lab - 314/5</h1>
      </div>
      <div id="main" class="p-body p-row">
         <div id="divValues" class="p-left p-col container-fluid">
            <!-- API Pump -->
            <div class="row clearfix">
               <div class="col-xs-12 sidebarheading">API Pump</div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.P9999A_RUN.value === true || values.P9999A_LOCAL.value === true)' ng-click="writeVals('P9999A_Run_RQ',1);">
                     <span class="glyphicon glyphicon-play"></span> Start
                  </button>
               </div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.P9999A_RUN.value === false)' ng-click="writeVals('P9999A_Run_RQ',0);">
                     <span class="glyphicon glyphicon-stop"></span> Stop
                  </button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-default btn-sm btn-block" ng-disabled='(values.P9999A_LOCAL.value === false)' ng-click="writeVals('P9999A_Local_RQ',0);">Remote</button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-default btn-sm btn-block active" ng-disabled='(values.P9999A_LOCAL.value === true)' ng-click="writeVals('P9999A_Local_RQ',1);">Local</button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-warning btn-sm btn-block active"
                  ng-disabled='(values.P9999A_LOCAL.value === true) || (values.P9999A_RUN.value === false)'
                  ng-mousedown="prime('SC9999A',true);"
                  ng-mouseup="prime('SC9999A',false);"
                  ng-mouseleave="prime('SC9999A',false);">
                     <span class="glyphicon glyphicon-forward"></span> Prime
                  </button>
               </div>
               <!-- rpm setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                 <input type="number" class="config-entries form-control" ng-model="ctlValues.write.SC9999A_SP.input" ng-focus="ctlValues.write.SC9999A_SP.input = values.SC9999A_SP.value" max="600" min="0" id="inputP9999A_SP" placeholder="Speed SP">
                  <div class="config-entries input-group-addon">RPM
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.SC9999A_SP.input==null"
                           ng-click="writeVals('SC9999A_SP',ctlValues.write.SC9999A_SP.input);ctlValues.write.SC9999A_SP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.SC9999A_SP.input==null"
                           ng-click="ctlValues.write.SC9999A_SP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
               <!-- flow controller mode -->
               <div class="col-xs-6 column btn-div">
                  <!-- <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.FC9999A1_MODE.value === 2)' ng-click="writeVals('FC9999A1_MODE',2);"> -->
                  <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.FC9999A2_MODE.value === 2)' ng-click="writeVals('FC9999A2_MODE',2);">
                     <span class="glyphicon glyphicon-ok"></span> FC Auto
                  </button>
               </div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.FC9999A1_MODE.value === 4)' ng-click="writeVals('FC9999A1_MODE',4);">
                  <!-- <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.FC9999A2_MODE.value === 1)' ng-click="writeVals('FC9999A2_MODE',1);"> -->
                     <span class="glyphicon glyphicon-remove"></span> FC Manual
                  </button>
               </div>
               <!-- flow setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                  <input type="number" class="config-entries form-control" ng-model="ctlValues.write.FC9999A2_SP.input" ng-focus="ctlValues.write.FC9999A2_SP.input = values.FC9999A2_SP.value" max="200" min="0" id="inputFC9999A2_SP" placeholder="Flow SP">
                  <div class="config-entries input-group-addon">ml/min
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.FC9999A2_SP.input==null"
                           ng-click="writeVals('FC9999A2_SP',ctlValues.write.FC9999A2_SP.input);ctlValues.write.FC9999A2_SP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.FC9999A2_SP.input==null"
                           ng-click="ctlValues.write.FC9999A2_SP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
            </div>

            <!-- Buffer Pump -->
            <div class="row clearfix">
               <div class="col-xs-12 sidebarheading">Buffer Pump</div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.P9999B_RUN.value === true || values.P9999B_LOCAL.value === true)' ng-click="writeVals('P9999B_Run_RQ',1);">
                     <span class="glyphicon glyphicon-play"></span> Start
                  </button>
               </div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.P9999B_RUN.value === false)' ng-click="writeVals('P9999B_Run_RQ',0);">
                     <span class="glyphicon glyphicon-stop"></span> Stop
                  </button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-default btn-sm btn-block" ng-disabled='(values.P9999B_LOCAL.value === false)' ng-click="writeVals('P9999B_Local_RQ',0);">Remote</button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-default btn-sm btn-block active" ng-disabled='(values.P9999B_LOCAL.value === true)' ng-click="writeVals('P9999B_Local_RQ',1);">Local</button>
               </div>
               <div class="col-xs-4 column btn-div">
                  <button type="button" class="btn btn-warning btn-sm btn-block active"
                  ng-disabled='(values.P9999B_LOCAL.value === true) || (values.P9999B_RUN.value === false)'
                  ng-mousedown="prime('SC9999B',true);"
                  ng-mouseup="prime('SC9999B',false);"
                  ng-mouseleave="prime('SC9999B',false);">
                     <span class="glyphicon glyphicon-forward"></span> Prime
                  </button>
               </div>
               <!-- rpm setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                 <input type="number" class="config-entries form-control" ng-model="ctlValues.write.SC9999B_SP.input" ng-focus="ctlValues.write.SC9999B_SP.input = values.SC9999B_SP.value" max="600" min="0" id="inputP9999B_SP" placeholder="Speed SP">
                  <div class="config-entries input-group-addon">RPM
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.SC9999B_SP.input==null"
                           ng-click="writeVals('SC9999B_SP',ctlValues.write.SC9999B_SP.input);ctlValues.write.SC9999B_SP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.SC9999B_SP.input==null"
                           ng-click="ctlValues.write.SC9999B_SP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
               <!-- flow controller mode -->
               <div class="col-xs-6 column btn-div">
                  <!-- <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.FC9999B1_MODE.value === 2)' ng-click="writeVals('FC9999B1_MODE',2);"> -->
                  <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.FC9999B2_MODE.value === 2)' ng-click="writeVals('FC9999B2_MODE',2);">
                     <span class="glyphicon glyphicon-ok"></span> FC Auto
                  </button>
               </div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.FC9999B1_MODE.value === 4)' ng-click="writeVals('FC9999B1_MODE',4);">
                  <!-- <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.FC9999B2_MODE.value === 1)' ng-click="writeVals('FC9999B2_MODE',1);"> -->
                     <span class="glyphicon glyphicon-remove"></span> FC Manual
                  </button>
               </div>
               <!-- flow setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                  <input type="number" class="config-entries form-control" ng-model="ctlValues.write.FC9999B2_SP.input" ng-focus="ctlValues.write.FC9999B2_SP.input = values.FC9999B2_SP.value" max="200" min="0" id="inputFC9999B2_SP" placeholder="Flow SP">
                  <div class="config-entries input-group-addon">ml/min
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.FC9999B2_SP.input==null"
                           ng-click="writeVals('FC9999B2_SP',ctlValues.write.FC9999B2_SP.input);ctlValues.write.FC9999B2_SP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.FC9999B2_SP.input==null"
                           ng-click="ctlValues.write.FC9999B2_SP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
            </div>
            <!-- Totalizers -->
            <div class="row clearfix">
               <div class="col-xs-12 sidebarheading">Totalizers</div>
            </div>
            <div class="row clearfix">
               <!-- API totalizer -->
               <div class="col-xs-4 column config-entries config-entries-btn text-right">API:</div>
               <div class="col-xs-5 column config-entries config-entries-btn">{{values.FQ9999A_total.value.toFixed(1)}} mL</div>
               <div class="col-xs-3 column btn-div">
                  <button type="button" class="btn btn-success btn-xs btn-block" ng-click="writeVals('FQ9999A_Reset_RQ',1);">Reset</button>
               </div> 
               <!-- Buffer totalizer -->
               <div class="col-xs-4 column config-entries config-entries-btn text-right">Buffer:</div>
               <div class="col-xs-5 column config-entries config-entries-btn">{{values.FQ9999B_total.value.toFixed(1)}} mL</div>
               <div class="col-xs-3 column btn-div">
                  <button type="button" class="btn btn-success btn-xs btn-block" ng-click="writeVals('FQ9999B_Reset_RQ',1);">Reset</button>
               </div>
               <!-- Product totalizer -->
               <div class="col-xs-4 column config-entries config-entries-btn text-right">Product:</div>
               <div class="col-xs-5 column config-entries config-entries-btn">{{values.FQ9999C_total.value.toFixed(1)}} mL</div>
               <div class="col-xs-3 column btn-div">
                  <button type="button" class="btn btn-success btn-xs btn-block" ng-click="writeVals('FQ9999C_Reset_RQ',1);">Reset</button>
               </div>
            </div>

			<!-- Concentration Control-->
            <div class="row clearfix">
               <div class="col-xs-12 sidebarheading">Conc Control</div>
               <!-- conc controller mode -->
               <div class="col-xs-6 column btn-div">
                  <!-- <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.FC9999B1_MODE.value === 2)' ng-click="writeVals('FC9999B1_MODE',2);"> -->
                  <button type="button" class="btn btn-success btn-sm btn-block" ng-disabled='(values.AC9999C_MODE.value === 1)' ng-click="writeVals('AC9999C_MODE',1);">
                     <span class="glyphicon glyphicon-ok"></span> CC Auto
                  </button>
               </div>
               <div class="col-xs-6 column btn-div">
                  <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.AC9999C_MODE.value === 0)' ng-click="writeVals('AC9999C_MODE',0);">
                  <!-- <button type="button" class="btn btn-danger btn-sm btn-block active" ng-disabled='(values.FC9999B2_MODE.value === 1)' ng-click="writeVals('FC9999B2_MODE',1);"> -->
                     <span class="glyphicon glyphicon-remove"></span> CC Manual
                  </button>
               </div>
			   <!-- total flow setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                  <input type="number" class="config-entries form-control" ng-model="ctlValues.write.AC9999C_cSP.input" ng-focus="ctlValues.write.AC9999C_cSP.input = values.AC9999C_cSP.value" max="200" min="0" id="inputAC9999C_cSP" placeholder="Flow SP">
                  <div class="config-entries input-group-addon">ml/min
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.AC9999C_cSP.input==null"
                           ng-click="writeVals('AC9999C_cSP',ctlValues.write.AC9999C_cSP.input);ctlValues.write.AC9999C_cSP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.AC9999C_cSP.input==null"
                           ng-click="ctlValues.write.AC9999C_cSP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
				<!-- conc setpoint -->
               <div class="input-group">
                  <div class="config-entries input-group-addon">SP:</div>
                  <input type="number" class="config-entries form-control" ng-model="ctlValues.write.AC9999C_concSP.input" ng-focus="ctlValues.write.AC9999C_concSP.input = values.AC9999C_concSP.value" max="200" min="0" id="AC9999C_concSP" placeholder="Conc SP">
                  <div class="config-entries input-group-addon">mg/ml
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.AC9999C_concSP.input==null"
                           ng-click="writeVals('AC9999C_concSP',ctlValues.write.AC9999C_concSP.input);ctlValues.write.AC9999C_concSP.input=null;">
                           <span class="glyphicon glyphicon-ok"></span></button>
                     <button type="button" class="btn btn-xs btn-default" ng-disabled="ctlValues.write.AC9999C_concSP.input==null"
                           ng-click="ctlValues.write.AC9999C_concSP.input=null;">
                           <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
               </div>
			</div>
			

            <hr class="xs"/>                        

         </div>
         <div id="divDisplay" class="p-right p-col">
            <div id="divHMI" class="p-row" ng-include="'CFDiagram.svg'">
            </div>
            <div id="divGraphs" class="p-row">
               <p id="t1">{{values.ST9999B.PV.value}}</p>
               <p id="t2"></p>            
            </div>
         </div>

      </div>
      <div id="footer" class="p-footer p-row">
      </div>
   </div>
   </body>
</html>
